:root{
    --black: #000;
    --white: #fff;
}
.contact__section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.message__container img{
    margin-bottom: 2rem;
    position: relative;
    width: 32px;
    height: 32px;
}
.message__container h1{
    font-size: 56px;
    font-weight: 400;
}
.message__container p{
    margin-bottom: 1em;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.close__section{
    width: 90%;
    border-bottom: 2px solid var(--gray);
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0.7rem;
    margin-top: 1rem;
    display: none;
}
.close__section .plus__icon{
    transform: rotate(45deg);
    font-weight: 100;
}
/* media queries */
@media (max-width: 805px) {
    .close__section{
        display: flex
    }
    .contact__section {
        flex-direction: column;
    }
}
/* media queries */