:root {
  --gray: #d9d9d9;
  --black: #000;
  --white: #fff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}
.sidemenu{
  position: sticky;
  z-index: 1;
  left: 0 !important;
  top: 0px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0rem 0.6rem;
  padding-bottom: 5rem;
  border-right: 1px solid var(--gray);
  overflow: hidden;
}
.sidemenu div:first-child{
  margin-top: 1.6rem;
}
.sidemenu div{
  width:  40px;
  overflow: hidden;
}
.sidemenu div img{
  width: 90%;
  object-fit: cover;
  position: relative;
}
.sidemenu .active{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 8px 8px;
}
/* media queries */
@media (max-width: 805px){
  .sidemenu{
    display: none;
  }
}
/* media queries */